---
import Layout from "../../layouts/index.astro";
const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true })
);
---

<Layout>
  <ul class="flex flex-col gap-4 lowercase">
    {
      allPosts.map((post: any) => (
        <li>
          <a class="hover:opacity-15 transi" href={post.url}>{post.frontmatter.title}</a>
          <div class="text-xs opacity-50 pl-4">
            <p>{post.frontmatter.description}</p>
            <p>{post.frontmatter.date.toString().slice(0, 10)}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
