---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="font-sans font-light px-8 py-8 md:px-20 md:py-18">
    <nav
      class="flex flex-col gap-4 pb-8 md:flex-row md:items-center md:justify-between md:mx-auto"
    >
      <h1>jack faulkner</h1>
      <ul class="flex flex-row gap-8">
        <li>
          <a href="/thoughts">thoughts</a>
        </li>
        <li>
          <a href="/projects">projects</a>
        </li>
      </ul>
    </nav>
    <slot />
  </body>
</html>
